*{
    background-color: rgb (241,241,241);
}

p{

    font-family: 'Lora', serif;
    color: white;
    letter-spacing: 0.2em;
    font-weight: 900;
    letter-spacing: 0.1em;
}

label{
    font-family: 'Lora', serif;
    color: white;
    letter-spacing: 0.2em;
    font-weight: 900;
}

.newP{
    color: rgb(207,20,43);
    letter-spacing: 0.2em;
    font-weight: 900;
}

.invisible{
    display: none;
}

.back-cont{
    position: relative;
    background-image: url('./napoleon.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    align-items: center;
    
}

.forms{
    background-color: rgba(1,56,150,0.7);
    width: 50% !important;
    border-radius: 20px;
}

#title{
    font-family: 'Abril Fatface', cursive;
    padding-top: 0.6em;
    text-align: center;
    color: rgb(207,20,43);
    font-size: 4.4rem;
    font-weight: 600;
}

#description{
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    text-align: center;
    color: white;
    font-weight: 600;
    letter-spacing: 0.6em;
    font-size: 1.2em;
    font-family: 'Gothic A1', sans-serif;
}

.submit-btn{
    background-color:rgba(207,20,43,0.7);
    color: white;
    border-radius: 10em;
    margin-top: 0.5rem;
    transition: 500ms linear;
}

.submit-btn:hover{
    width: 40%;
    background-color:rgba(207,20,43,1);
}


.choose-arm{
    color: white;
}

.arms{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.front{
    color: white;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

@media only screen and (max-width: 768px){
    .forms{
        width: 80% !important;
        
    }
    .front{
        text-align: center;
    }
    .arms{
        text-align: center;
        margin-bottom: 3em;
    }
}
